.slider 
{
    margin-top: 100px;
    position: relative;
    width: 50%;
    height: 500px;
}
.slide 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slide img
{
    width: 100%;
    height: 200px;
}
.active 
{
    opacity: 1;
}
body
{
    background-color: lightsalmon;
}
.prev,.next
{
    width: 5%;
    height:5%;
    margin-top: 80px;
    cursor: pointer;
}
.prev
{
    position: relative;
    float: left;
    opacity: 0.5;
}
.next
{
    position: relative;
    float: right;
    margin-right: 8px;
    opacity: 0.5;

}
.prev:hover
{
    opacity:1;
}
.next:hover
{
    opacity:1;
}

